*{ 
  margin:0;
  padding:0;
}

body {
  font-family: "Lato", sans-serif;
}
a:hover{
  color:#fff;
  text-decoration:none;
}
.wrap input[type="email"],input[type="text"],input[type="password"]
{ 
  color: #fff;
  border:none;
  background: transparent;
  border-bottom: 1px solid #000;
  outline:none;
  height:40px;
  width: auto;
} 
a.navbar-brand:hover{
  transform: rotateY(360deg);
  transition-duration: 5s;
}
.wrap{
  margin-top: 20px;  
  padding:30px;
  border-radius: 5px;
  text-align: center;
  margin: 80px auto;
  background: #343a4057;
  width:550px;
}

.w3-black
{
  background-color: #242526 !important;
}   

.card-body:hover{
  background-color:#c0c0c0;
}

.box{
  padding:10px; 
  color:#fff;
  background-color:#000;
  text-align: center; 
}

a.sqr{
  color:#000;
  text-decoration: none;
  padding: 10px;
  background-color: #17de4b7a;
  border-radius: 20%;
  box-shadow: 5px 10px 18px #888888;
}

a.sqr:hover{
  padding: 20px;
}

i.box{
  border-radius: 5px;
  padding:5px; 
  background-color: #474c521f;
  color:#000;
}

* {
  box-sizing: border-box;
}

input[type="texts"],input[type="email"]{
  border-radius: 3px;
}
/* Style inputs */
select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  border-radius: 3px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

input[type=submit]:hover {
  background-color: #45a049;
  opacity: 10;
}

#footer{
   left: 0;
   bottom: 0;
   width: 100%;
}

#footer a:hover{
  transform: rotate(20deg);
}

/* Style the container/contact section */
.container {
  margin-top:20px; 
  border-radius: 5px;
  background-color: #343a4057;
  padding: 10px;
  opacity: 0.9;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .textbox{
    box-shadow: 5px 10px 18px #888888;
  }
  
  .container{
    margin-top: 20px;
    width:90%;
    margin-bottom: 20px;
  }
  .wrap{
    margin-top: 20px;
    width:90%;
    padding-bottom: 65px;   
  }
  #subscribe-btn{
   width:40%;
   padding: 5px;
  }
}

.textbox{
  margin:10px;
  background-color: black;
  color: white;
  padding:10px;
  border-radius: 5px;
  opacity:0.7;
}

.bg1{
  border:1px solid #912de4;
  background-color: #912de4;
  padding: 50px;
  color:#fff;
}
.bg2{
  border:1px solid #dbd220;
  background-color: #dbd220;
  padding: 50px;
  color:#fff;
}
.bg3{
  border:1px solid #3379eb;
  background-color: #3379eb;
  padding: 50px;
  color:#fff;
}
.bg4{
  border:1px solid #089712;
  background-color: #089712;
  padding: 50px;
  color:#fff;
}
.num-color1,.num-color2,.num-color3,.num-color4{
  border:1px solid #a442f4;
  color:#a442f4;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2em;
  font-weight: 600;
  position: absolute;
  left: 0px;
  margin:6px;
  top: -29px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}
.num-color2{
 border:1px solid #dbd220; 
 color:#dbd220; 
}
.num-color3{
  border:1px solid #3379eb; 
 color:#3379eb; 
}
.num-color4{
   border:1px solid #0cb517; 
 color:#0cb517;
}
.bg1,.bg2,.bg3,.bg4{
  box-shadow: 5px 10px 18px #888888;
}

.bg1:hover,.bg2:hover,.bg3:hover,.bg4:hover{
  box-shadow: 5px 10px 18px #c0c0c0;
  transform: rotateX(360deg);
  transition-duration: 2s;
}